<%= simple_form_for([@play, @play.reviews.build]) do |f| %>
    <div id="rating-form">
        <label> Rating (1-5) </label><br>
        <%= f.text_field :rating %>
    </div>
    <%= f.input :comment %>
    <%= f.button :submit, :class => "btn-custom2" %>
<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>